#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=VS Code URL Handler
Comment=Handle URL Scheme vscode://
Icon=vscode-handler
NoDisplay=true
Exec=/usr/local/vscode-handler %u
MimeType=x-scheme-handler/vscode
